<div class="flex flex-col gap-3 bg-white shadow-lg rounded-md overflow-hidden p-10 text-slate-800 text-center">
  <h1 class="text-lg">
    Welcome to the administrative area of Marcus Bikes shop
  </h1>
  Use the menu to access to Categories or Products
</div>