<div class="flex gap-3">
  <% attribute_options.each do |option| %>
    <div class="border hover:border-rose-600 min-w-10 p-2 text-center cursor-pointer">
      <%= option.name %>
    </div>
  <% end %>
</div>