<div class="col-span-4 h-80 shadow-lg rounded-md border-slate-600 bg-white flex flex-row overflow-hidden">
  <div class="md:basis-1/2 px-6 py-4">
    <div class="text-slate-600 pt-3">
      <%= image_tag "rocky_mountain_logo.png", class: "pb-5" %>
      <h1 class="text-2xl py-5">Customize your Rocky Mountain bike!</h1>
      <%= link_to "Customize my bike!", "#", class: "rounded-lg mt-5 py-3 px-5 bg-rose-600 hover:bg-slate-600 text-white font-medium" %>
    </div>
  </div>
  <div class="w-full basis-1/2">
    <%= image_tag "banner.jpg", class: "w-full h-full object-cover" %>
  </div>
</div>