<nav class="shadow-lg bg-slate-600 z-10 text-white ">
  <div class="flex w-full pl-5 py-2">
    <% @menu.each do |category| %>
      <%= link_to category.name, category, class: "border-b-2 border-b-slate-600 hover:border-b-rose-500  px-5 inline-block font-medium" %>
    <% end %>
    <div class="grow"></div>
    <div class="">
      <%= link_to "Second life", "#", class: "border-b-2 border-b-slate-600 hover:border-b-rose-500  px-5 inline-block font-medium" %>
    </div>
    <div class="">
      <%= link_to "Become a member", "#", class: "border-b-2 border-b-slate-600 hover:border-b-rose-500  px-5 inline-block font-medium" %>
    </div>
  </div>
</nav>
