<%= turbo_stream.update "modal" do %>
  <div class="flex flex-col overflow-hidden">
    <h3 class="text-2xl font-bold pb-4">
      Compatible Parts for "<%= @customizable_part.name %>"
    </h3>
    <% if @products.empty? %>
      No compatible products are available. Please contact with the administrator.
    <% else %>
      <div class="grow grid grid-cols-<%= [@products.size, 4].min %> gap-3 overflow-y-scroll">
        <% @products.each do |product| %>
          <%= render partial: "shop/customizable_part_selector/product_item", locals: { product: } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
