<div class="pb-2 text-xl font-semibold">
  Customization
</div>

<div class="text-sm flex flex-col gap-3">
  <% @product.customizable_parts.each_with_index do |part, index| %>
    <div data-controller="customization-part-selector">
      <div class="font-bold pb-2"><%= part.name %></div>
      <%= hidden_field_tag "product[customizable_parts_attributes][#{index}][id]", part.id, data: { "customization-part-selector-target": "id" } %>
      <%= hidden_field_tag "product[customizable_parts_attributes][#{index}][option]", "", data: { "customization-part-selector-target": "option" } %>
      <%= hidden_field_tag "product[customizable_parts_attributes][#{index}][customization]", "", data: { "customization-part-selector-target": "customization" } %>
      <div class="flex">
        <div class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full text-gray-500 cursor-pointer", data-action="click->customization-part-selector#load click->modal#open">
          Select a part...
        </div>
      </div>
      <%#= render partial: "shop/product/part_options", locals: { product_form:, part_options: part.part_options } %>
    </div>
  <% end %>
</div>