<div class="pb-2 text-xl font-semibold">
  Customization
</div>

<div class="text-sm flex flex-col gap-3">
<% @product.customizable_parts.each do |part| %>
  <div>
    <div class="font-bold pb-2"><%= part.name %></div>
    <%= render partial: "shop/product/part_options", locals: { part_options: part.part_options } %>
  </div>
<% end %>
</div>