<div class="bg-white shadow-lg rounded-md overflow-hidden p-10 text-slate-800">
  <% content_for :title, "Products" %>

  <div class="flex justify-between items-center pb-10">
    <h1 class="font-bold text-2xl">Products</h1>
    <%= link_to new_admin_product_path, class: "rounded-lg py-3 px-5 bg-slate-600 text-white block hover:bg-rose-600" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    <% end %>
  </div>

  <div class="overflow-x-auto">
    <%= render partial: "table", locals: { products: @products } %>
  </div>
</div>
<div class="pt-5">
  <%== pagy_info(@pagy, item_name: 'product'.pluralize(@pagy.count)) %>
</div>