<nav class="shadow-lg bg-rose-600 z-20 text-white" data-controller="menu">
  <div class="flex w-full pl-5">
    <%= link_to "Categories", admin_categories_path, class: "border-b-2 border-b-rose-600 hover:border-b-white py-2 px-5 inline-block font-medium" %>
    <%= link_to "Products", admin_products_path, class: "border-b-2 border-b-rose-600 hover:border-b-white py-2 px-5 inline-block font-medium" %>
  </div>
</nav>
